.container {
  min-height: 100vh;
  padding-top: 20px;
  background-color: #f7f8ff;
}
.classInfoContainer{
  
}

.commentBody {
  display: -webkit-box;
  /* max-height: 200px;
  -webkit-line-clamp: 3; */
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
.commentBodyCollapse {
  max-height: 200px;
  -webkit-line-clamp: 3;
  cursor: pointer;
}
